testdata/linear-workflow-choices.asl.json
{
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Not": {
                "Variable": "$.hoge",
                "IsPresent": true
              }
            },
            {
              "Not": {
                "Variable": "$.aaaa",
                "IsBoolean": true
              }
            }
          ],
          "Next": "Invoke Lambda"
        }
      ],
      "Default": "Success"
    },
    "DefaultCatcher": {
      "Next": "DefaultCatcher:Faild",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:my-topic"
      },
      "Resource": "arn:aws:states:::sns:publish",
      "Type": "Task"
    },
    "DefaultCatcher:Faild": {
      "Type": "Fail"
    },
    "Invoke Lambda": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DefaultCatcher",
          "ResultPath": "$.error"
        }
      ],
      "HeartbeatSecondsPath": "$.y",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "TimeoutSecondsPath": "$.x",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:123456789012:function:error-report:$LATEST"
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
