testdata/modify_asl/linked-parallel.json.golden.json
{
  "StartAt": "A",
  "States": {
    "A": {
      "Branches": [
        {
          "StartAt": "Sub1_1",
          "States": {
            "Sub1_1": {
              "Next": "Sub2_1",
              "Type": "Pass"
            }
          }
        },
        {
          "StartAt": "Sub2_1",
          "States": {
            "Sub2_1": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "Next": "X",
      "Type": "Parallel"
    },
    "X": {
      "Choices": [
        {
          "Next": "Sub1_1",
          "NumericEquals": 1,
          "Variable": "$.x"
        },
        {
          "Next": "Z",
          "NumericEquals": 1,
          "Variable": "$.x"
        }
      ],
      "Default": "Sub1_1",
      "Type": "Choice"
    },
    "Z": {
      "Type": "Succeed"
    }
  }
}