testdata/modify_asl/minimal-fail-state.json.golden.json
{
  "StartAt": "A Task",
  "States": {
    "A Task": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DefaultCatcher",
          "ResultPath": "$.error"
        }
      ],
      "Next": "Final",
      "Resource": "arn:aws:states:us-west-2:42:activity:a-task",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    },
    "DefaultCatcher": {
      "Next": "DefaultCatcher:Faild",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:my-topic"
      },
      "Resource": "arn:aws:states:::sns:publish",
      "Type": "Task"
    },
    "DefaultCatcher:Faild": {
      "Type": "Fail"
    },
    "Final": {
      "Type": "Fail"
    }
  }
}