testdata/modify_asl/states-array-intrinsic-functions.json.golden.json
{
  "StartAt": "p",
  "States": {
    "DefaultCatcher": {
      "Next": "DefaultCatcher:Faild",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:my-topic"
      },
      "Resource": "arn:aws:states:::sns:publish",
      "Type": "Task"
    },
    "DefaultCatcher:Faild": {
      "Type": "Fail"
    },
    "p": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DefaultCatcher",
          "ResultPath": "$.error"
        }
      ],
      "End": true,
      "Resource": "foo:bar",
      "ResultSelector": {
        "array.$": "States.Array('Foo', $.xyz, 'Bar', 2.3)",
        "contains.$": "States.ArrayContains($.inputArray, $.lookingFor)",
        "item.$": "States.ArrayGetItem($.inputArray, $.index)",
        "length.$": "States.ArrayLength($.inputArray)",
        "partition.$": "States.ArrayPartition($.inputArray, 4)",
        "range.$": "States.ArrayRange(1, 9, 2)",
        "unique.$": "States.ArrayUnique($.inputArray)"
      },
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    }
  }
}