testdata/modify_asl/states-json-intrinsic-functions.json.golden.json
{
  "StartAt": "p",
  "States": {
    "DefaultCatcher": {
      "Next": "DefaultCatcher:Faild",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:my-topic"
      },
      "Resource": "arn:aws:states:::sns:publish",
      "Type": "Task"
    },
    "DefaultCatcher:Faild": {
      "Type": "Fail"
    },
    "p": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DefaultCatcher",
          "ResultPath": "$.error"
        }
      ],
      "End": true,
      "Resource": "foo:bar",
      "ResultSelector": {
        "json.$": "States.StringToJson($.escapedJsonString)",
        "output.$": "States.JsonMerge($.json1, $.json2, false)",
        "string.$": "States.JsonToString($.unescapedJson)"
      },
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3
        }
      ],
      "Type": "Task"
    }
  }
}